/*CSS RESET*/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;

  font-size: 18px;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* Project style */


:root {
  --prime: #000;
  --second: #603F83;
  --accent: #C7D3D4;
  --cold: #10bdd7;
  --warm: #ea5454;
  --alert: #fca311;
}

body{
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--accent);
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 2rem;
  background-color: var(--second);
  color: var(--accent);

}

.icon{
  height: 48px;
  width: auto;
}

/* main-section */
main{
  padding: 2rem;
}

/* search-section */

.search >form {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

form input {
  border: none;
  outline: none;
  background-color: var(--second);
  color: var(--accent);
  font-size: 1.2rem;
  border-radius: 3rem;
  padding: 0.5rem 1.4rem;
  height: 3rem;
  width: 20rem;
}

form  button {
  border: none;
  font-size: 1.2rem;
  padding: 0.5rem 1.4rem;
  background-color: var(--second);
  color: var(--accent);
  border-radius: 3rem;
  height: 3rem;
  width: 7rem;
  text-align: center;
}

/* city-status-section */

.city-status{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.city-status div {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.city-status > p + p{
  margin-right: auto;
}

#coords {
  margin: 1rem;

}

/* next-three-days-section */

.next-three-days h1 {
  margin: 3rem 0;
}

.days{

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}


.card {
 
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--second);
  color: var(--accent);
  padding: 2rem;
  border-radius: 2rem;
  text-align: center;

}


  .card p, .card div{
  background-color: var(--accent);
  color: var(--second);
  padding: 0.8rem;
  width: 15rem;
  border-radius: 2rem;
}

.card i {

  font-size: 50px;

}

.card .min-temp {
  color: var(--cold);
}

.card .max-temp {
  color: var(--warm);
}

.precipitation p {
  background-color: rgb(17, 223, 255);
}


/* alert-section */
.alerts {
  display: flex;
  flex-direction: column;
}
.alerts p {
  background-color: var(--alert);
  padding: 1rem 2rem;
  border-radius: 2rem;
  width: 75%;
  margin: auto;
}

.alerts  h1{
  margin: 3rem 0;
}


/* current-conditions-section */

.current-conditions h1 {
    margin: 3rem 0;

}

.table-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

table#current-table {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  width: 75%;
}

table#current-table th {
  background-color: var(--second);
  color: var(--accent);
  border-radius: 2rem 0 0 2rem;
  width: 25%;
}
table#current-table td {
  text-align: center;
  border-radius: 0 2rem 2rem 0;
  width: 25%;
}

table#current-table td, table#current-table th {
  padding: 0.8rem;
  border: solid 0.2rem var(--second);
}

table#current-table td > p {
  display: inline-block;
}

/* footer-section */

footer {
  background-color: var(--alert);
  text-align: center;
  padding: 2rem;
}


footer a {
  text-decoration: underline;
  color: var(--prime);
  padding: 0.2rem 0.4rem;
  border-radius: 2rem;
  background-color: var(--accent);  
  transition: all 250ms ease;
}